<section class="c-section">
        <h2 class="c-section__title"><span>Our Services</span></h2>
        <ul class="c-services">
            <li class="c-services__item">
                <h3>Music</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae turpis sit amet ipsum euismod accumsan. Sed ut leo vel orci malesuada lacinia.</p>
            </li>
            <li class="c-services__item">
                <h3>Education and learning</h3>
                <p>Phasellus tincidunt tortor eget tincidunt commodo. Sed in nulla eu risus sollicitudin dictum. Aliquam erat volutpat.</p>
            </li>
            <li class="c-services__item">
                <h3>Feedback</h3>
                <p>Integer eu felis eu justo malesuada vehicula. Sed dapibus purus et sapien pharetra aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras auctor, justo id venenatis pharetra, neque lorem convallis dolor, ac volutpat eros leo eget tellus.</p>
            </li>
            <li class="c-services__item">
                <h3>Calls</h3>
                <p>Ut auctor urna non sapien lacinia, nec volutpat libero suscipit. Morbi interdum tortor eget est volutpat, vel blandit lectus cursus. Aenean tristique, nulla vel eleifend bibendum, ligula nisi tincidunt arcu, id efficitur lorem justo id sapien.</p>
            </li>
            <li class="c-services__item">
                <h3>Logout</h3>
                <a class="nav-link ml-4 mr-4" href="/logout"><i class="fa-solid fa-sign-out fa-md"></i></a>
            </li>
        </ul>
    </section>
