        <nav class = "navbar bg-blue">
            <div class = "container flex">
                <a href = "index.html" class = "navbar-brand">
                    <img src = "../../public/images/logo.png" alt = "site logo">
                </a>
                <button type = "button" class = "navbar-show-btn">
                    <img src = "../../public/images/ham-menu-icon.png">
                </button>

                <div class = "navbar-collapse bg-white">
                    <button type = "button" class = "navbar-hide-btn">
                        <img src = "../../public/images/close-icon.png">
                    </button>
                    <ul class = "navbar-nav">
                        <li class = "nav-item">
                            <a href = "/home" class = "nav-link">Home</a>
                        </li>
                       
                        <li class = "nav-item">
                            <a href = "/service" class = "nav-link">Service</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "/feedbacks" class = "nav-link">Feedback</a>
                        </li>
                        <li class = "nav-item">
                          <a href = "/blog" class = "nav-link" >Blog</a>
                      </li>
                        <li class = "nav-item">
                            <a href = "/logout" class = "nav-link" >Logout</a>
                        </li>
                      
                    
                        
                      
                      
                       
                    </ul>
                    
                </div> 
            </div>
        </nav>

<br>

<br>
<br>
   <br><br><br><br><br><br>
        <div class="container1">

          <div class="posts">
              
              <div class="post" data-target="/blog/display" onclick="redirectToAnotherPage(this)">
                  <div class="post__image post__image--1" ></div>
                  <div class="post__content">
                      <div class="post__inside">
                          <h3 class="post__title"> Food Poisoning: Understanding, Treating and Preventing It</h3>
                          <p class="post__excerpt">
                            Food Poisoning: Understanding, Treating and Preventing It
                          </p>
                         
                      </div>
                  </div>
              </div>
              
              <div class="post"data-target="/blog/Decoding_Health" onclick="redirectToAnotherPage(this)">
                  <div class="post__image post__image--2"></div>
                  <div class="post__content">
                      <div class="post__inside">
                          <h3 class="post__title">Decoding Health: How Often Should You Get Blood Work Done?</h3>
                          <p class="post__excerpt">
                            How Often Should You Get Blood Work Done?   </p>
                         
                      </div>
                  </div>
              </div>
              
              <div class="post" data-target="/blog/migraine" onclick="redirectToAnotherPage(this)">
                  <div class="post__image post__image--3"></div>
                  <div class="post__content">
                      <div class="post__inside">
                          <h3 class="post__title">Migraine Triggers And Warning Signs</h3>
                          <p class="post__excerpt">
                            Differentiating between common headaches and migraines involves understanding triggers too. Common migraine triggers include stress; specific foods such as chocolate or cheese; alcohol or caffeine intake; hormonal fluctuations, particularly during menstruation; disrupted sleep patterns, amongst other things causing the onset of these episodes characterized by pulsating pains on the sides of the skull, paired with sensory hypersensitivity among other issues experienced by many patients afflicted with the disease, making life difficult and unpredictable when it strikes, affecting the quality of living drastically because of the intensity and severity of effects suffered by those unfortunate enough to suffer from this condition.</h3>
                        </p>
                         
                      </div>
                  </div>
              </div>
              
              <div class="post"data-target="/blog/selfttoughtblog" onclick="redirectToAnotherPage(this)">
                <div class="post__image post__image--4"></div>
                <div class="post__content">
                    <div class="post__inside">
                        <h3 class="post__title">Dangers of Self Online Diagnosis: A Crucial Discussion</h3>
                        <p class="post__excerpt">
                            Ever found yourself late at night, eyes squinting against the harsh glare of your screen, spiraling down a rabbit hole of symptom checkers and health forums?     </p>
                        
                    </div>
                </div>
            </div>
            
            <div class="post"data-target="/blog/winterblog" onclick="redirectToAnotherPage(this)">
              <div class="post__image post__image--5"></div>
              <div class="post__content">
                  <div class="post__inside">
                      <h3 class="post__title">Seasonal Allergies Treatment: Tips for a Symptom-Free Season</h3>
                      <p class="post__excerpt">
                        Seasonal Allergies Treatment can often feel like a daunting task.   </p>
                     
                  </div>
              </div>
          </div>
          
            
            <div class="post"data-target="/blog/linessblog" onclick="redirectToAnotherPage(this)">
              <div class="post__image post__image--6"></div>
              <div class="post__content">
                  <div class="post__inside">
                      <h3 class="post__title">Illnesses That Cause Vomiting, Fever, and Diarrhea Explained</h3>
                      <p class="post__excerpt">
                        Illnesses that cause vomiting, fever, and diarrhea can be distressing and debilitating for those affected. It is essential to comprehend the multiple origins of these indications in order to successfully stop and handle them       </p>
                      
                  </div>
              </div>
          </div>
          